p{
    width: 90%;
    margin: 0 auto;
}

select{
    width: 100%;
    height: fit-content;
}

.wrapper{
    display: flex;
    width: fit-content;
}

option{
    padding: 10px 30px;
    position: relative;
}

option::checkmark{
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 1.5rem;
    color: red;
    text-shadow: 1px 1px 1px black;
}

