.container {
    display: grid;

    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */

    /* grid-template-columns: repeat(3, min(120px, 15%)); */
    /* grid-template-rows: repeat(3, max(200px, 50%)); */

    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, minmax(150px, 200px)); */

    /* grid-template-columns: repeat(3, clamp(150px, 20%, 200px)); */
    /* grid-template-rows: repeat(3, clamp(150px, 20%, 200px)); */

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    resize: both;
    overflow: auto;
    border: 1px solid gray;
    gap: 3px;
    padding: 4px;
    background-color: skyblue;

}

.item {
    background-color: #444;
    text-align: center;
    color: #ddd;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
    border: 2px solid #ddd;
}

p{
    margin: 12px auto 12px;
}

img{
    height: 60px;
}